streamlit
pdfplumber
langchain
langchain-text-splitters
langchain-community
langchain-huggingface
transformers
sentence-transformers
torch
faiss-cpu
accelerate
huggingface-hub
numpy
tqdm
fastapi
uvicorn
python-multipart
pydantic
requests
pytest
pytest-cov
httpx
google-genai
pytesseract
pdf2image
python-dotenv
pillow
